html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-bottom: 70px;
  overflow-y: auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


@media (max-width: 764px) {
  body {
    overflow-y: auto;
  }
   img
    {
      max-width:100%;height:auto;
    }
}

@media only screen and (max-device-width: 764px) {
    #footer {
        height: auto;
    }
    img
    {
       max-width:100%;height:auto;
    }
}

img
    {
        max-width:100%;
        max-height:100%;
    }


 
 